@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');

@font-face {
    font-family: "8-bit-pusab";

    src: url("./assets/fonts/8-bit-pusab.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

* {
    transition: .3s;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card {
    cursor: pointer;
    padding-bottom: 85%;
    width: 100%;
    /* background: rgba(50, 114, 210, 0.5); */
    background: url(assets/textures/crate.png);
    background-repeat: round;
    background-size: cover;
    border-radius: 10px;
    margin: 3px;
}

.card-row {
    width: 100%;
    margin: 3px;
}

#test-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

#wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.animations {
    /* background-color: rgb(80, 0, 146); */
    filter: invert(1);
}

.card:hover {
    box-shadow: 0 0 10px purple;
}

.flexwrap::after {
    position: absolute;
    top: 0px;
}

body {
    background-color: #1d1e22;
}

#start-the-game {
    position: absolute;
    background-color: #44205c65;
    height: 100%;
    width: 100%;
    z-index: 99999;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* font-weight: 900; */
    font-size: 9vw;
    font-family: "8-bit-pusab";
    -webkit-text-stroke: 2px rgb(10, 10, 10);
    text-shadow: -5px 14px 20px rgb(0, 0, 0);
    cursor: pointer;
}
#options-window {
    position: absolute;
    background-color: #000000d4;
    height: 100%;
    width: 100%;
    z-index: 99999;
    top: 0px;
    right: 0px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* font-weight: 900; */
    font-size: 1vw;
    font-family: "8-bit-pusab";
    /* -webkit-text-stroke: 1px rgb(10, 10, 10); */
    text-shadow: -3px 5px 20px rgb(0, 0, 0);
    cursor: pointer;
    display: none;
}
.shownumbers-button{
    display: flex;
}
#button-text-01{
    width: 21vw;
}
.printid:after {
    content: attr(id);
    position: absolute;

}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 100%;
    color: #fff;
    font-family: "8-bit-pusab";
}

#container_r {
    display: flex;
    flex-direction: column;
    flex-direction: row;
}

#health {
    /* min-width: 170px; */
    min-width: 33%;
}
.settings{
    font-size: 50%;
}
.cardspeed{

    display: flex;
    align-items: center;
    width: fit-content;
}
#range-value{
    margin: 0 7px;
}
#start-the-game *:hover::before {
    content:'> ';
}
#options-window div{
    margin: 1vh 0;
}
/* Menu button */
.menu-nav-button{
    font-family: "8-bit-pusab";
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 5px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}
/* Slider style */
.slider {
    -webkit-appearance: none;
    width: 25%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 6;
}
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ff0000;
    cursor: pointer;
  }
 .slider::-moz-range-thumb {  /* Same thing in firefox as above */
    width: 15px;
    height: 15px;
    background: #ff0000;
    cursor: pointer;
    border-radius: 0px;
    border: 0px solid
    transparent;
  }

  /* slider ends */
@media screen and (max-width: 513px) {
    .stats {
        font-size: 64%;
    }
    #health{
            width: 118px;
            min-width: unset;
    }
    #health img {
        width: 20%;
    }
}