  body {
        background-color: #1d1e22;
    }
/* 
     #wrapper {
        max-width: 741px;
        margin: 30px auto;
        padding: 0 20px;
        width: 100%;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 1em;
        
    }  */
    .flexwrap{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .animations{
      border: 1px solid pink;
      background-color: pink;
    }
    .card:hover {
        box-shadow: 0 0 10px purple;
    }
    /*
    .card:nth-child(odd) {
        background-color: #55BBE9;
    }

    .card:nth-child(even) {
        background-color: #afbe29;
    }*/
	            body {
                padding: 0px;
                margin: 0px;
            }

            #title-bar {
                -webkit-app-region: drag;
                height: 40px;
                text-align: center;
                line-height: 40px;
                vertical-align: middle;
                background-color: #494949;
                padding: none;
                margin: 0px;
            }

            #title {
                position: fixed;
                top: 0px;
                left: 6px;
                color:white;

            }

            #title-bar-btns {
                -webkit-app-region: no-drag;
                position: fixed;
                top: 0px;
                right: 6px;
            }
			* {
    box-sizing: border-box;
  }
body{
  background-color: #1d1e22;
}
  
  .diavo {
    border-radius: 10px;
    padding: 20px;
    color: #fff;
  }
.diavo:hover {
    box-shadow: 0 0 10px purple;
  }
  
  .diavo:nth-child(odd) {
    background-color: #55BBE9;
  }
  
  .diavo:nth-child(even) {
    background-color: #afbe29;
  } 
  .card {
    cursor: pointer;
    padding-bottom: 85%;
    width: 100%;
    background: rgba(50, 114, 210, 0.5);
    border-radius: 10px;
    margin: 3px;
  }
  #card-row {
    width: 100%;
    margin: 3px;
  }
 #test-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
  }
  #wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
  }
  